.about {
    margin: 100px auto;
    .titleExcerpt {
        clear: both;
        padding-left: 20px;
        position: relative;
        color: $dkgray;
        .slideLink {
            float: right;
            span {
                background-color: $ltgray;
                padding: 20px 30px;
            }
        }
    }
    
    .image1 {
        margin-bottom: 20px;
    }

    .aboutLinkContainer {
        margin-bottom: 20px;
    }
}