.contactPage {
    margin-top: 150px;
}


#contact-form {
    h3 {
        margin-bottom: 10px;
    }
    form {
        label {
            display: block;
            font-weight: 200;
            position: absolute;
            left: -999em;
        }
        input {
            display: block;
            width: 100%;
            border-radius: 4px;
            padding: 4px;
            border: 1px solid $ltgray;
            margin-bottom: 10px;
            font-family: $bodyText;
            font-size: 1em;
            background-color: #fff;
        }
        textarea {
            width: 100%;
            height: 300px;
            padding: 4px;
            font-family: $bodyText;
            font-weight: 200;
            border: 1px solid $ltgray;
            font-size: 1em;
            background-color: #fff;
        }
        button {
            padding: 20px 30px;
            display: inline-block;
            border: none;
            background-color: $ltgray;
            font-family: $bodyText;
            font-size: 1em;
            cursor: pointer;
        }
    }
}