.logo {
    padding: 14px 0 10px;
}

.header {
    > div {
        border-bottom: 1px solid $dkgray;
    }
}

.socialFooter {
    height: 160px;
}

.content {
    font-weight: 200;
    font-size: 16px;
    padding: 20px 0;
}

.mainContent {
    padding: 60px 0;
}

.video-contain {
    padding-top: 20px;
    
    
    video {
        width: 100% !important;
        height: auto !important;
        display: block;
        padding-bottom: 20px;
        border-bottom: 1px solid $dkgray;
    }
}

.hamburger {
    border: none;
    background-color: $dkgray;
    color: #fff;
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 18px;
}

.navigation {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba($color: #000000, $alpha: .8);
    .modalWindow {
        background-color: $ltgray;
        
    }
    .modalWindow {
        position: relative;
    }
    
}