
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;1,400&display=swap');

$bodyText: 'Neuton', serif;
$dkgray: #3a3a3c;
$ltgray: #c8c9cb;

body {
    font-family: $bodyText;
    font-size: 20px;
    line-height: 1.4;
    color: $dkgray
}

@import './grid.scss';
@import './header.scss';
@import './homeslider.scss';
@import './about.scss';
@import './page.scss';


h1 {
    font-size: 2.8em;
    font-weight: 200;
    line-height: 1;
    @media screen and (min-width: $screen-md) {
        font-size: 3.2em;
    }
}

h2 {
    font-size: 2.6em;
    font-weight: 200;
    line-height: 1;
    @media screen and (min-width: $screen-md) {
        font-size: 3.2em;
    }
}

h3 {
    font-size: 1.2em;
    font-weight: 200;
    @media screen and (min-width: $screen-md) {
        font-size: 1.4em;
    }
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}
ul {
    margin: 20px 0;
}
