@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

$bodyText: 'Roboto', sans-serif;
$displayText: 'Merriweather', serif;
$dkgray: #666452;
$gray: #d5d3c1;
$ltgray: #faf9f3;

body {
    font-family: $bodyText;
    font-size: 20px;
    line-height: 1.4;
    color: $dkgray;
    background-color: $ltgray;
}

@font-face {
    font-family: 'adedisplay';
    src: url('../public/ade-display_2-webfont.woff2') format('woff2'),
         url('../public/ade-display_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@import './grid.scss';
@import './layout.scss';
@import './nav.scss';
@import './pages.scss';
// @import './homeslider.scss';
// @import './about.scss';
// @import './page.scss';
// @import './contact.scss';


h1 {
    text-transform: uppercase;
    font-family: 'adedisplay';
    font-size: 2.0em;
    font-weight: 200;
    line-height: 1;
    @media screen and (min-width: $screen-md) {
        font-size: 2.4em;
    }
}

h2 {
    text-transform: uppercase;
    font-family: 'adedisplay';
    font-size: 1.8em;
    font-weight: 200;
    line-height: 1;
    @media screen and (min-width: $screen-md) {
        font-size: 2em;
    }
}

h3 {
    text-transform: uppercase;
    font-family: 'adedisplay';
    font-size: 1.1em;
    font-weight: 200;
    @media screen and (min-width: $screen-md) {
        font-size: 1.3em;
    }
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}
ul {
    margin: 20px 0;
}
